{% extends 'base.html.twig' %}

{% block title "À propos" %}
{% block description "" %}

{% block stylesheets %}
<style type="text/css">

</style>
{% endblock %}

{% block body %}
<!-- Begin:: Carrousel -->
<section class="section" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgb(255, 255, 255)), url({{asset('assets/media/illustrations/carrousel_img.jpeg')}}); background-attachment: fixed; background-position: bottom; height: 500px;">
    <div class="container h-100 d-flex align-items-center justify-content-center">
        <div class="text-center text-white">
            <h1 class="section__title text-white">À propos</h1>
            <p>Les meilleurs services immobiliers</p>
        </div>
    </div>
</section>
<!-- End:: Carrousel -->

<!-- Begin:: Breadcrumbs -->
<section id="breadcrumbs" class="container d-flex gap-2 pt-3">
    <a href="{{path('app_home')}}" class="text-link">Accueil</a>
    <i class="ri-arrow-right-s-line align-middle"></i>
    <span class="text-secondary">À propos</span>
</section>
<!-- End:: Breadcrumbs -->

<!-- Begin:: About section -->
<section id="about" class="container section">
    <div class="row">
        <div class="col-md-6 d-flex align-items-center justify-content-start justify-content-lg-center">
            <div class="text-center text-md-start w-100 w-lg-75">
                <h2 class="section__title">Qui sommes-nous ?</h2>
                <p class="m-0">Conseil Immobilier est une société de conseil spécialisée dans l'immobilier; qui vise à accompagner.
                Les clients résidants Afrique, intéressés par l'acquisition ou la location d'un bien en France et Europe. 
                Egalement, nous accompagnons la diaspora ou les amoureux de l'Afrique désirant louer ou acquérir un bien en Côte d'Ivoire.</p>
            </div>
        </div>
        <div class="col-md-6 p-3 p-md-0">
            <img alt="about1" src="{{asset('assets/media/illustrations/about1.jpeg')}}" class="w-100 h-100 rounded" style="max-height: 300px; object-fit: cover">
        </div>
        <div class="col-md-6 p-3 p-md-0 d-none d-md-block">
            <img alt="about2" src="{{asset('assets/media/illustrations/about2.jpeg')}}" class="w-100 h-100 rounded" style="max-height: 300px; object-fit: cover">
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-start justify-content-lg-center">
            <div class="text-center text-md-start w-100 w-lg-75">
                <h2 class="section__title">Notre rôle</h2>
                <p>Notre rôle est de vous faciliter la recherche et les formalités en vous apportant une solution clé en main et de vous garantir la sécurisation de votre projet.</p>
                <p class="m-0">Pour ce faire, Conseil Immobilier vous accompagne tout au long de votre projet: de la recherche du bien au financement ainsi que l'accompagnement juridique nécessaire pour le concrétiser.</p>
            </div>
        </div>
        <div class="col-md-6 p-3 d-block d-md-none">
            <img alt="about2" src="{{asset('assets/media/illustrations/about2.jpeg')}}" class="w-100 h-100 rounded" style="max-height: 300px; object-fit: cover">
        </div>
    </div>
</section>
<!-- End:: About section -->

<!-- Begin:: Chiffres section -->
<section id="chiffres" class="container section">
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <h2 class="section__title fs-biggest">137 K</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quis nostrud exercitation</p>
        </div>
        <div class="col-sm-6 col-md-3">
            <h2 class="section__title fs-biggest">50 K</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quis nostrud exercitation</p>
        </div>
        <div class="col-sm-6">
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
    </div>
</section>
<!-- End:: Chiffres section -->

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    
</script>
{% endblock %}
